html, body {
    width: auto!important; 
    overflow-x: hidden!important;
} 

#head-text,#main-btn {
    color: transparent;
    font-weight: 800;
    font-size: 2em;
    background: url(https://media1.giphy.com/media/3otO6NFBIAFg2vPZuM/200.webp?cid=ecf05e47kwlhg5o6er1z5jbfvuqftcjpnaj9skkahmi0c5dx&rid=200.webp&ct=g);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
}

#delivered {
    color:red;
    font-weight: bolder;
    padding:4px 0;
}