*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background: rgb(241, 157, 241);
}
h1{
    text-align: center;
    margin-top: 10px ;
    padding-top: 20px;
   padding-bottom: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 40px;
}
 .box-container{
     display: flex;
     margin-top: 40px;
     margin-bottom: 40px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .box{
     border: 1px solid blue;
     margin: 10px;
 }
 .box p{
    padding-top: 40px;
     
 }

#box1{
    background-color: darkkhaki;
    padding: 10px; 
    position: relative;
    
}

#box2{
    background-color:  darkolivegreen;
    padding: 10px;
    position: relative;
}
#box3{
    background-color: darkcyan;
    padding: 10px;
    position: relative; 
}
#label1, #label2, #label3{
    border: 2px solid rgb(19, 18, 18);
    border-radius: 10px;   
    padding: 2px;
    right: 5px;
    top: 2px;
    position: absolute;
}
#label1{
    background:greenyellow
}
#label2{
    background: honeydew;
}
#label3{
    background:rgb(148, 148, 231)
}
#foot {
    text-align: center;
    font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .box-container{
        display: flex;
        flex-wrap: wrap;  
    }
   
    #box1{
        width: 46.5%;
        margin-right: 20px;
    }
    #box2{
        width: 46.5%;
        
    }
    #box3{
        width: 96.5%;
        flex-flow: wrap;
    }
}

@media only screen and (max-width: 767px){
    .box-container{
        display: flex;
        flex-wrap: wrap;  
    }
    
}