@media (max-width:991px) {
    body.poster {
        margin-top: 40vh;
    }
}

body{
    overflow-x: hidden;
}
body.poster {
    background-attachment: fixed;
}

.contact-btn{
    background-color: #d37033;
    border:1px solid black ;
}

#moreText {
    display: none;
}

.testimonials{
    margin-left: auto;
    margin-right: auto;
     max-width: 800px;
}

#big-box {
    display: flex;
    flex-direction:column;
    background-color: #1b0294; 
    justify-content:center; 
    align-items:center ; 
    color: #fffdfd;  
}

.images {
    width:300px;
    height:300px;
}
@media (max-width:652) {
    .contact-text{
        display:block;
    }  
}